@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin floating {
    
    &--floating {  
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    
        // &:hover {
        //     animation: none;
        //     transform: translateY(-2rem) scale(1.25);
        // }
    }
    
}

@mixin adjusting_austronauts {
    background: transparent;
    box-shadow: none;
    padding: 0;
    background-repeat: no-repeat;
    height: 20rem;
  
}

@mixin center_elements {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}