
// colours
$color-primary:  #777;
$color-primary-light: rgba(31, 29, 29, 0.8);
$color-primary-dark:  rgba(31, 29, 29, 0.8);

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-dark:  #777;

$color-toolbox-1: #1c2d3c;
$color-toolbox-2: #faebd7;
$color-toolbox-3: #262b31;


$color-white-gold: rgb(250, 235, 215);
$color-rose-gold: #dabe85;
$color-logo-background: #262b31;
$color-hover-backdrop: rgba(0, 0, 0, 0.5); 


//font

$default-font-size: 1.4rem;

//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;