.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

}

.section-tools {
    padding: 20rem 0;
    background-image: linear-gradient(
		to right bottom,
		$color-primary-light,
		$color-primary-dark),
    url(../img/bg-5.png);
    background-size: cover; /* makes sure that the background image is responsive to window size changes */
    //background-position: bottom; /
    
    clip-path: polygon(50% 0%, 100% -5%, 100% 75%, 50% 100%, 0% 75%, 0% -5%);

}

.section-projects {
    background-color: $color-grey-light-1;
    padding: 25rem 0 50rem 0 ;
    margin-top: -21rem;

}