.tool-box {
    // clip-path: polygon(100% 0, 100% 0%, 100% 75vh, 50% 100%, 0% 75vh, 0% 85%, 0 0);
    background-color: $color-toolbox-1;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba( #000000, .15);
  

    &__icon {
        display: inline-block;
        background-image: linear-gradient(to right, rgba(130, 94, 38, 0.9), rgba(102, 142, 271, 0.9));
        -webkit-background-clip: text;
        color: transparent;
        font-size: 6rem;
        margin-bottom: .6rem;
    }

    &__text {
        
        ul {
        
            list-style-type: none;
            
        }
        list-style: none;
    }


    @include floating


}